$white: #ffffff;
$black: #000000;

$text: $white;
$glass: #E7E7E7;
$dark-glass: #1E1E1E;
$text2: $glass;
$navbar: $glass;
$links: #58A1B8;
$correct-answer: #399E61;

$violet-dark: #703ADA;
$violet-light: #863CCF;
$violet-border: #A182FC;

$red-button: #DF5548;
$red-button-hover: #E56D62;
$red-button-pressed: #B74035;

$grey: #252525;
$grey-light: #D7D7D7;
$grey-border: #868686;

// transparents
$glass4: rgba(215, 215, 215, 0.04); //#e7e7e7
$glass6: rgba(215, 215, 215, 0.06); //#e7e7e7
$glass40: rgba(215, 215, 215, 0.4);
$glass60: rgba(215, 215, 215, 0.6);
$glass80: rgba(215, 215, 215, 0.8);
$violet-dark4: rgba(111, 58, 218, 0.04); //#703ADA


