@use "@styles/breakpoints.scss";

.container {
    min-height: breakpoints.$max-height;
    margin: -50px 0;
    flex-wrap: nowrap;
    padding-top: 50px;

    @media (min-width: breakpoints.$desktop) {
        margin: -100px 0;
        justify-content: start;
        padding-top: 100px;
    }
}

.paddingInputLeft {
    padding-left: 5px;
}

.paddingInputRight {
    padding-right: 5px;
}

.roleButtonsContainer {
    gap: 10px;
}

.controlsContainer {
    @media (min-width: breakpoints.$desktop) {
        padding-bottom: 3em;
    }
}